* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f4f7;
}

.signup-container {
    width: 380px;
    background-color: #ffffff;
    padding: 15px 30px;
    margin: 19px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.signup-header {
    text-align: center;
    margin-bottom: 25px;
}

.signup-header h1 {
    font-size: 26px;
    margin-bottom: 10px;
}

.names {
    display: flex;
    gap: 10px;
}

.name-field {
    width: 50%;
}

.name-field label {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
}

.name-field input {
    width: 100%;
    padding: 10px;
}

.signup-form .form-group {
    margin-bottom: 15px;
}

.signup-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
}

.signup-form input:focus {
    border-color: #2874f0;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding: 10px;
    padding-right: 60px;
}

.show-btn {
    position: absolute;
    right: 1px;
    top: 50%;
    padding: 10px 25px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 13px;
    color: #2874f0;
    user-select: none;
    border: none;
    background-color: #fff;
}

.policy {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    gap: 8px;
}

.policy input {
    width: auto;
}

.policy p {
    font-size: 15px;
}

.policy span {
    color: rgba(255, 0, 0, 0.636);
}

.signup-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #2874f0;
    color: #fff;
    font-size: 16px;
    margin-bottom: 18px;
    cursor: pointer;
}

.signup-btn:hover {
    background: #1a5fd0;
}

.signup-form .msg {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.golog-page {
    text-align: center;
    font-size: 17px;
}

.golog-page a {
    color: #2874f0;
}